@model OrderServiceChallenge.Models.Company

@{
    ViewData["Title"] = "Details";
    var address = Model.Address();
}
<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd>
            @Convert.ToUInt64(Model.CNPJ).ToString(@"00\.000\.000\/0000\-00")
        </dd>
        <dt>
            CEP
        </dt>
        <dd>
            @Html.DisplayFor(model => address.Result.Cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => address.Result.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => address.Result.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => address.Result.District)
        </dt>
        <dd>
            @Html.DisplayFor(model => address.Result.District)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => address.Result.Local)
        </dt>
        <dd>
            @Html.DisplayFor(model => address.Result.Local)
        </dd>
        <dt>
            UF
        </dt>
        <dd>
            @Html.DisplayFor(model => address.Result.Uf)
        </dd>
        <dt>
            IBGE
        </dt>
        <dd>
            @Html.DisplayFor(model => address.Result.Ibge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => address.Result.DDD)
        </dt>
        <dd>
            @Html.DisplayFor(model => address.Result.DDD)
        </dd>

    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

