@model IEnumerable<OrderServiceChallenge.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<script>
    jQuery(function ($) {
        $("input[name='cep']").change(function () {
            var cep_code = $(this).val();
            if (cep_code.length <= 0) return;
            $.get("http://apps.widnet.com.br/busca-cep/api/cep.json", { code: cep_code }, function (result) {
                if (result.status != 1) {
                    alert(result.message || "Error");
                    return;
                }
                $(input[name = 'cep']).val(result.code);
                $(input[name = 'state']).val(result.state);
                $(input[name = 'city']).val(result.city);
                $(input[name = 'district']).val(result.district);
                $(input[name = 'address']).val(result.address);
            });


        });

    });
</script>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
