@model OrderServiceChallenge.Models.OrderService

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberOS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOS)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExecutionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExecutionDate)
        </dd>
        <br>
        <dt>
            Name Employee
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.CPF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.CPF)
        </dd>
        <br>
        <dt>
            Company Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company.CNPJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.CNPJ)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
